*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: sans-serif;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#body{

    background-color: white;
    /*cursor: none;*/
    padding: 0;
	margin: 0;
    overflow: hidden;
    /*opacity: 0.3;
    opacity:0.4;
    width:100%;
    margin:0;*/
}
/*
#test11 
{ 
    position: absolute; left:35px; top: 48px; z-index: 2; 
} 
#animal 
{ 
    position: absolute; width: 100%; height: 100%; 
    z-index: 1; 
    opacity: 1; 
}
*/
#toolbar{
    width: 100%;
    height: 100px;
    padding: 5px;
    position: fixed;
    top: 0;
    background-color: whitesmoke;
    color: navy;
}

#toolbox{
    float: left;
    width: 50px;
    height: 100%;
    padding: 100px;
    position: fixed;
    top: 0;
    background-color: whitesmoke;
    color: silver;
}

.radcontrol{
    width: 30px;
    height: 30px;
    background-color: palevioletred;
    display: inline-block;
    text-align: center;
    /*text-emphasis: filled sesame;*/
    padding: 5px;
}
#rad{
    float: left;
}

#colors{
    float: right;
}

.swatch{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 2px 2px rgba(0, 0, 0, 0.5);
     display: inline-block;
     margin-left: 10px;
}

.swatch.active{
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}

#clearbutton{
    float: right;
    margin-right: 15px;
    margin-top: 5px;
    background-color: white;
}
#clearbutton:hover{
    background-color: #818181;
}
/*
#redo{
    float: left;
    width: 50px;
    margin-left: 20px;
    font-size: 0.8em;
    color: #333;
}

.redo{
    display: inline-block;
    background: #eee;
    border: 1px solid #e7e7e7;
    padding: 5px;
  }

  #undo{
    float: left;
    width: 50px;
    margin-left: 20px;
    font-size: 0.8em;
    color: #333;
}

.undo{
    display: inline-block;
    background: #eee;
    border: 1px solid #e7e7e7;
    padding: 5px;
  }*/
/*
#eraser{
    float: left;
}
*/

#text{
    float: left;
    margin-top: 7px;
    cursor: text;
}/*
#text:active{
    url(images/pencil.jpg), auto
}
*/
#canvas{
    cursor: crosshair;
}
/*
#canvas:active { 
    url(images/pencil.jpg), auto
}
*/
#download{
    float: left;
    margin-left: 20px;
    margin-top: 7px;
    background-color: white;
}
#download:hover{
    background-color: silver;
}

#fakepic{
    float: left;
    margin-left: 20px;
    margin-top: 7px;
    background-color: white;
}

#fakepic:hover{
    background-color: silver;
}

#snow{
    float: left;
    margin-left: 15px;
    margin-right: 15px;

}

#imageLoader{
    float: left;
/*    margin-right: 20px;
    height: 30px;
    padding: 2px;*/
    margin-left: 20px;
    margin-top: 7px;
    background-color: white;
}

#triangle{
    float: left;
    margin-left: 20px;
    margin-top: 7px;
}

#rectangle{
    float: left;
    margin-left: 20px;
    margin-top: 7px;
}

#circle{
    float: left;
    margin-left: 20px;
    margin-top: 7px;
}